body {
    background-color: #1A1A1D;
}

img#logo {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15vw;
}

img#robot {
    transition: opacity ease-out 1s;
    position: absolute;
    bottom: 0px;
    left: 45vw;
    transform: translateX(-50%);
    height: 90vh;
    opacity: 0;
}

div#text {
    transition: transform ease-out 0.7s, opacity ease-out 1s;
    position: absolute;
    bottom: calc(90vh * 0.35 + 80px);
    left: calc(45vw + 90vh * 1.6 / 3.5);
    transform: translate(-50%, 70px);
    display: block;
    text-align: center;
    opacity: 0;
}

div#text > p {
    display: inline-block;
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    color: #fff;
}

div#text > button {
    margin-top: 54px;
    width: 180px;
    height: 70px;

    background-color: #ed201f;
    font-weight: 500;
    font-size: 40px;
    color: #fff;
}
