div#tabs {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px 0px 60px;
}

div.tab {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px 10px 0px 0px;
    height: 50px;
    background-color: #2d2d30;
}
div.tab.active {
    background-color: #4e4e50;
}

div.tab > h1 {
    display: inline-block;
    width: 30vw;

    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #fff;
}


div#editors {
    min-height: calc(100vh - 20px - 50px);
    background-color: #4e4e50;
}

div.editor {
    display: none;
}

div.editor.active {
    display: block;
}


div#upload_button_container {
    display: inline-block;
    width: 100vw;
    border-bottom: 1px solid #fff;
}

button#upload {
    cursor: pointer;
    float: right;
    margin: 15px 45px;
    border: 0px;
    border-radius: 15px;
    width: 115px;
    height: 45px;
    background-color: #d03f41;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}