div#tabs {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px 0px 60px;
}

div.tab {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px 10px 0px 0px;
    height: 50px;
    background-color: #2d2d30;
}
div.tab.active {
    background-color: #4e4e50;
}

div.tab > h1 {
    display: inline-block;
    width: 30vw;

    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #fff;
}


div#editors {
    min-height: calc(100vh - 20px - 50px);
    background-color: #4e4e50;
}

div.editor {
    display: none;
}

div.editor.active {
    display: block;
}


div#upload_button_container {
    display: inline-block;
    margin-bottom: 15px;
    width: 100vw;
    border-bottom: 1px solid #fff;
}

button#upload {
    float: right;
    margin: 15px 45px;
    width: 115px;
    height: 45px;
    background-color: #d03f41;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}


div.document {
    display: flex;
    align-items: center;
    width: 76vw;
    margin: 0 12vw 10px 12vw;
}

div.document > img {
    width: 50px;
    height: 50px;
}
div.document > div.captions {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px 0px 75px;
    width: 57vw;
}

div.document > div.captions > * {
    display: inline-block;
    font-weight: 500;
}
div.document > div.captions > h2 {
    font-size: 24px;
    color: #fff;
}
div.document > div.captions > p {
    font-size: 20px;
    color: #2d2d30;
}

div.document > button {
    width: 140px;
    height: 40px;

    background-color: #2d2d30;
    font-size: 22px;
    color: #fff;
}
