div#tabs {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px 0px 60px;
}

div.tab {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px 10px 0px 0px;
    height: 50px;
    background-color: #2d2d30;
}
div.tab.active {
    background-color: #4e4e50;
}

div.tab > h1 {
    display: inline-block;
    width: 30vw;

    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #fff;
}


div#editors {
    min-height: calc(100vh - 20px - 50px);
    background-color: #4e4e50;
}

div.editor {
    display: none;
}

div.editor.active {
    display: block;
}


div#upload_button_container {
    display: inline-block;
    margin-bottom: 15px;
    width: 100vw;
    border-bottom: 1px solid #fff;
}

button#upload {
    float: right;
    margin: 15px 45px;
    width: 115px;
    height: 45px;
    background-color: #d03f41;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}


div.document {
    display: flex;
    align-items: center;
    margin: 0 12vw 10px 12vw;
}
div.document#detailed {
    margin-left: calc(12vw - 65px - 2px);
    border: solid #2d2d30;
    border-width: 3px 0px;
    padding: 15px 0px;
}

div.document > img {
    width: 50px;
    height: 50px;
}
div.document#detailed > img {
    width: 125px;
    height: 125px;
}

div.document div.captions {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
div.document > div.captions, div.document > div#action_block {
    width: 60vw;
}
div.document > div.captions {
    margin: 0px 100px 0px 75px;
}
div.document > div#action_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 100px 0px calc(75px - 7px);
    height: 75px;
}

div.document > div#action_block > div.captions {
    width: 100%;
}
div.document div.captions > * {
    display: inline-block;
    font-weight: 500;
}
div.document div.captions > h2 {
    font-size: 24px;
    color: #fff;
}
div.document div.captions > p {
    font-size: 20px;
    color: #2d2d30;
}

div.document button {
    background-color: #2d2d30;
    color: #fff;
}
div.document > button {
    width: 140px;
    height: 40px;
    font-size: 22px;
}
div#action_block > div.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#action_block > div.buttons > button {
    padding: 10px 20px;
    font-size: 20px;
}
div#action_block > div.buttons > button#delete {
    box-sizing: border-box;
    border: 5px solid #2d2d30;
    padding: 5px 15px;
    background: none;
    color: #d03f41;
}
button#selected {
    opacity: 0.7;
}
